/* General Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

  img {
      display: block;
      max-width: 100%;
  }

  html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}



/* Header */

.header {
   position: fixed;
   top: 0;
   width: 100%; 
   background: #E5E2E2;
   padding: 15px 0;
   z-index: 10;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 7px;
}

.header_menu ul li a {
    display: inline-block;
    margin-left: 20px;
}

.header_menu ul li a {
    color: #878789;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a:hover {
   color: #D80A49;

}


/* Introduction */

.introduction {
    width: 100%;
    height: 1055px;
    background: url("../img/bg.svg") no-repeat center;
    background-size: cover;
    margin-top: 80px;
    text-align: left;
    padding-top: 250px;
}

.introduction h2 {
  font-size: 45px;
  color: #ffffff;
  font-weight: bold;
}

.introduction p {
    font-size: 18px;
    color: #ffffff;
    padding-top: 20px;
}

.introduction img{
    width: 575px;
    height: 468px;
    position: absolute;
    right: 0%;
    top: -30%;
    left: 50%;
}

.plate_number {
        width: 249px;
        height: 50px;
        background: #C2C2C2;
        border-radius: 5px;
        opacity: 1;
        position: absolute;
        font: 12px / 10px "Open Sans";
        color: #5C5C5D;
        letter-spacing: 0px;
        text-align: center;
        left: -0%;
        border: none;
        margin-top: 30px;
        font-weight: bold;
}

.go {
    width: 108px;
    height: 50px;
    background: #D80A49;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
    font: 12px / 10px "Open Sans";
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    text-align: center;
    right: 61%;
    border: none;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.camera {
    width: 373px;
    height: 50px;
    background: #D80A49;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
    font: 12px / 10px "Open Sans";
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    text-align: center;
    border: none;
    top: 35%;
    margin-top: 175px;
    text-transform: uppercase;
    font-weight: bold;
}

#camera-icon {
    width: 20px;
    height: 17px;
    top: 208%;
    left: 20px;
}


/*Welcome*/

.welcome h3{
    font-size: 28px;
    color: #D80A49;
    font-weight: bold;
    padding-top: 15px;

}

.welcome p{
    font-size: 18px;
    color: #5C5C5D;
    padding-top: 20px;
    font-weight: normal;
}

.welcome img{
    float: left;
    max-width:431px;
    max-height:270px;
    width: auto;
    height: auto;
    margin-right: 70px;
}

#appstore {
    float: left;
    margin-left: -px;
    padding-left: 8px;
    top: 50%;
    margin-top: 3%;
    left: 30%;
}

#googleplay {
    float: left;
    margin-left: 650px;
    padding-left: 5px;
    top: 50%;
    margin-top: -7.7%;
}


/*Options*/

.options {
    width: 100%;
    height: 527px;
    background: url("../img/bg-options.svg") no-repeat center;
    background-size: cover;
    margin-top: 120px;
}

#app {
    position: absolute;
    right: 0%;
    top: 6px;
    left: 17.4%;
}

#scan-app {
    position: absolute;
    right: 0%;
    top: 326px;
    left: 12%;
}

#plate-number-img {
    position: absolute;
    right: 0%;
    top: 80px;
    left: 42%;
}

#happy-app {
    position: absolute;
    right: 0%;
    top: 326px;
    left: 42%;
}


/*Download*/

.download h3{
    font-size: 28px;
    color: #D80A49;
    font-weight: bold;
    top: -10%;
    text-align: center;

}

.download p{
    font-size: 18px;
    color: #5C5C5D;
    top: -5%;
    font-weight: normal;
    text-align: center;
}

.download {
    width: 100%;
    height: 557px;
    background: url("../img/bg-download.svg") no-repeat center;
    background-size: cover;
    margin-top: 220px;
}

.download img {
    position: absolute;
    right: 0%;
    top: 40%;
    left: 25%;
}

#app-store {
    float: left;
    margin-left: -10px;
    padding-left: 10px;
    top: 20%;
    margin-top: 0%;
    left: 31%;
}

#google-play {
    float: left;
    margin-left: -10px;
    padding-left: 10px;
    top: 20%;
    margin-top: 0%;
    left: 51%;
}


/*Contact Us*/


.contact h3{
    font-size: 28px;
    color: #D80A49;
    padding-top: 280px;
    font-weight: bold;
    top: 50%;
    text-align: center;
    

}

.contact p{
    font-size: 18px;
    color: #5C5C5D;
    padding-top: 10px;
    font-weight: normal;
    text-align: center;
}

#name {
    top: 30px;
    left: 114.5px;
    width: 380px;
    height: 60px;
    box-shadow: #5C5C5D;
    border: 3px solid rgb(216, 10, 72);
    border-radius: 10px;
    opacity: 1;
    background: none;
    position: absolute;
    outline: none;
    letter-spacing: 0px;
    color: #5C5C5D;
}

#email {

    top: 30px;
    left: 52.8%;
    width: 380px;
    height: 60px;
    box-shadow: #5C5C5D;
    border: 3px solid rgb(216, 10, 72);
    border-radius: 10px;
    opacity: 1;
    background: none;
    position: absolute;
    outline: none;
    letter-spacing: 0px;
    color: #5C5C5D;
}

#message {

    top: 110px;
    left: 12%;
    width: 772px;
    height: 150px;
    box-shadow: #5C5C5D;
    border: 3px solid rgb(216, 10, 72);
    border-radius: 10px;
    opacity: 1;
    background: none;
    position: absolute;
    outline: none;
    letter-spacing: 0px;
    color: #5C5C5D;
}

#subimit {
    width: 280px;
    height: 50px;
    background: #D80A49;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
    font: 12px / 10px "Open Sans";
    color: #ffffff;
    letter-spacing: 0px;
    text-align: center;
    left: 12%;
    border: none;
    margin-top: 290px;
    text-transform: uppercase;
    font-weight: bold;

}

/* Footer */

.footer {
    width: 100%;
    height: 500px;
    background: url("../img/bg-footer.svg") no-repeat center;
    background-size: cover;
    margin-top: 340px;
    text-align: left;
    padding-top: 350px;
    
}

/* Footer */

.footer {
    width: 100%;
    height: 500px;
    background: url("../img/bg-footer.svg") no-repeat center;
    background-size: cover;
    margin-top: 340px;
    text-align: left;
    padding-top: 350px;
    
}

.footer img {
    width: 161px;
    height: 47px;
    position: absolute;
    top: -45px;
    left: 5%;
}

.footer p {
    position: absolute;
    left: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

#adress {
    padding-top: 30px;
    left: 70px;

}

#instagram {
   width: 24px;
   height: 24px;
   top: -35px;
   left: 79%
}

#twitter {
    width: 24px;
   height: 24px;
   top: -35px;
   left: 84%
}
#reddit {
    width: 25px;
    height: 25px;
    top: -35.5px;
    left: 88.5%
}
#facebook {
    width: 24px;
    height: 24px;
    top: -35px;
    left: 94%
}

#terms {
    top: 40px;
    left: .2%;
}


.footer p {
    position: absolute;
    top: 75%;
    left: 5%;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

#instagram {
   width: 24px;
   height: 24px;
   top: -35px;
   left: 79%
}

#twitter {
    width: 24px;
   height: 24px;
   top: -35px;
   left: 84%
}
#reddit {
    width: 25px;
    height: 25px;
    top: -35.5px;
    left: 88.5%
}
#facebook {
    width: 24px;
    height: 24px;
    top: -35px;
    left: 94%
}

#terms {
    top: 40px;
    left: 78.2%;
}


