/* Tablet*/
@media only screen and (min-width: 788px) and (max-width: 979px) {

/* Introduction */

.introduction {
    width: 100%;
    height: 1055px;
    background: url("../img/bg.svg") no-repeat center;
    background-size: cover;
    margin-top: 78px;
    text-align: left;
    padding-top: 250px;
}

.introduction img{
    width: 100%px;
    height: 300px;
    position: absolute;
    right: 0%;
    top: -10%;
    left: 45%;
}

.plate_number {
        width: 200px;
        height: 50px;
        background: #C2C2C2;
        border-radius: 5px;
        opacity: 1;
        position: absolute;
        font: 12px / 10px "Open Sans";
        color: #5C5C5D;
        letter-spacing: 0px;
        text-align: center;
        left: -0%;
        border: none;
        margin-top: 30px;
        font-weight: bold;
}

.go {
    width: 108px;
    height: 50px;
    background: #D80A49;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
    font: 12px / 10px "Open Sans";
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
	text-align: center;
	left: 28%;
    right: 61%;
    border: none;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.camera {
    width: 323px;
    height: 50px;
    background: #D80A49;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
    font: 12px / 10px "Open Sans";
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    text-align: center;
    border: none;
    top: 35%;
    margin-top: 175px;
    text-transform: uppercase;
    font-weight: bold;
}


/*Welcome*/

.welcome img{
    float: left;
    max-width:281px;
    max-height:270px;
    width: auto;
	height: auto;
    margin-right: 70px;
}


#appstore {
    float: left;
    top: 50%;
    margin-top: 3%;
    left: 30%;
}

#googleplay {
    float: left;
    margin-left: 546px;
    padding-left: -52%;
    top: 50%;
    margin-top: -6.8%;
}

/*Options*/

.options {
    width: 100%;
    height: 527px;
    background: url("../img/bg-options.svg") no-repeat center;
    background-size: cover;
    margin-top: 120px;
}

#app {
    position: absolute;
    right: 0%;
    top: 6px;
    left: 9%;
}

#scan-app {
    position: absolute;
    right: 0%;
    top: 326px;
    left: 2%;
}

#plate-number-img {
    position: absolute;
    right: 0%;
    top: 80px;
    left: 39.5%;
}

#happy-app {
    position: absolute;
    right: 0%;
    top: 326px;
    left: 39.5%;
}



/*Download*/


.download {
    width: 100%;
    height: 427px;
    background: url("../img/bg-download.svg") no-repeat center;
    background-size: cover;
    margin-top: 220px;
}

.download h3{
    font-size: 28px;
    color: #D80A49;
    font-weight: bold;
    top: -20%;
    text-align: center;

}

.download p{
    font-size: 18px;
    color: #5C5C5D;
    top: -15%;
    font-weight: normal;
    text-align: center;
}

.download img {
	max-width: 70%;
    position: absolute;
    right: 0%;
    top: 60%;
    left: 15%;
}

#app-store {
    float: left;
    margin-left: -10px;
    padding-left: 10px;
    top: 20%;
    margin-top: -5%;
    left: 26%;
}

#google-play {
    float: left;
    margin-left: -10px;
    padding-left: 10px;
    top: 20%;
    margin-top: -5%;
    left: 51%;
}

/*Contact Us*/


.contact h3{
    font-size: 28px;
    color: #D80A49;
    padding-top: 280px;
    font-weight: bold;
    top: 50%;
    text-align: center;
    

}

.contact p{
    font-size: 18px;
    color: #5C5C5D;
    padding-top: 10px;
    font-weight: normal;
    text-align: center;
}

#name {
    top: 30px;
    left: 42px;
    width: 350px;
    height: 60px;
    box-shadow: #5C5C5D;
    border: 3px solid rgb(216, 10, 72);
    border-radius: 10px;
    opacity: 1;
    background: none;
    position: absolute;
    outline: none;
    letter-spacing: 0px;
    color: #5C5C5D;
}

#email {

    top: 30px;
    left: 52.8%;
    width: 350px;
    height: 60px;
    box-shadow: #5C5C5D;
    border: 3px solid rgb(216, 10, 72);
    border-radius: 10px;
    opacity: 1;
    background: none;
    position: absolute;
    outline: none;
    letter-spacing: 0px;
    color: #5C5C5D;
 
}

#message {

    top: 110px;
    left: 5.5%;
    width: 715px;
    height: 150px;
    box-shadow: #5C5C5D;
    border: 3px solid rgb(216, 10, 72);
    border-radius: 10px;
    opacity: 1;
    background: none;
    position: absolute;
    outline: none;
    letter-spacing: 0px;
    color: #5C5C5D;
}

#subimit {
    width: 280px;
    height: 50px;
    background: #D80A49;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
    font: 12px / 10px "Open Sans";
    color: #ffffff;
    letter-spacing: 0px;
    text-align: center;
	left: 42px;
    border: none;
    margin-top: 290px;
    text-transform: uppercase;
    font-weight: bold;

}

/* Footer */

.footer {
    width: 100%;
    height: 500px;
    background: url("../img/bg-footer.svg") no-repeat center;
    background-size: cover;
    margin-top: 340px;
    text-align: left;
    padding-top: 350px;
    
}

.footer img {
    width: 161px;
    height: 47px;
    position: absolute;
    top: -50px;
    left: 5%;
}

.footer p {
    position: absolute;
    left: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

#adress {
    padding-top: 35px;
    left: 60px;

}

#instagram {
   width: 24px;
   height: 24px;
   top: -35px;
   left: 79%
}

#twitter {
    width: 24px;
   height: 24px;
   top: -35px;
   left: 84%
}
#reddit {
    width: 25px;
    height: 25px;
    top: -35.5px;
    left: 88.5%
}
#facebook {
    width: 24px;
    height: 24px;
    top: -35px;
    left: 94%
}

#terms {
    top: 40px;
    left: .2%;
}


.footer p {
    position: absolute;
    top: 75%;
    left: 5%;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

#instagram {
   width: 24px;
   height: 24px;
   top: -35px;
   left: 80%
}

#twitter {
    width: 24px;
   height: 24px;
   top: -35px;
   left: 85%
}
#reddit {
    width: 25px;
    height: 25px;
    top: -35.5px;
    left: 89.5%
}
#facebook {
    width: 24px;
    height: 24px;
    top: -35px;
    left: 95%
}

#terms {
    top: 40px;
    left: 78.2%;
}


